extends layout

block content

	if message
		p.pull-center.message #{message}
	if error
		p.pull-center.error #{error}

	#main.pure-g-r
		.pure-u-1-2.pull-center
			h1.thin
				a(href="/") On Track
			p#about
			h2.sans #{title}
		.pure-u-1-2
			h2.thin.pull-center Everyone likes a graph.
			h3 Harness the power of insight into your own data, along with the data of your demographic.
			p Everyone has access to your data, but <strong>only you</strong> have access to your personal information.
			p Your data points will merge with the societal sea of data and allow for a level of demographic measurement and assessment never before possible across the population.
			p The sociological, medical and biological research that is possible with such an organized, comprehensive and quantitative view of the population is unavailable with current data collection.
			hr
			blockquote Questions, concerns and letters are welcome and can be sent directly from the <a href="/contact">contact form</a>.