extends layout

block content

	if message
		p.pull-center.message #{message}
	if error
		p.pull-center.error #{error}

	#main.pure-g-r
		.pure-u-1-4
		.pure-u-1-2.pull-center
			h1.thin
				a(href="/") On Track
			h2.sans #{title}
			p
				small Read more <a href="/about">about</a> OnTrack.io.
			form(action="/contact", method="post")
				if user
					input(type="email", name="sender", placeholder="Your email", value="#{ user.email }")
				if (!user)
					input(type="text", name="sender", placeholder="Your email")
				textarea(rows="10", name="words", placeholder="Your words go here...")
				input(type="submit", value="Seal it and send it")