extends layout

block content

	#main.pure-g-r
		.pure-u-1-2.pull-center
			h1.sans
				a(href="/")= title
			#infoBox
			p#about Everyone likes a graph.
		.pure-u-1-2
			if user
				h2.sans Hi #{ user.username }!
				p You are 
					span#age ......
					|  years old.

		script(src='/javascripts/index.js')