extends layout

block content

	if message
		p.pull-center.message #{message}
	if error
		p.pull-center.error #{error}

	#main.pure-g-r
		.pure-u-1-2.pull-center
			h1.thin
				a(href="/") On Track
			p#about
			h2.sans #{title}
		.pure-u-1-2.pull-center
			form(action="/login", method="post")
				.pure-g-r
					.pure-u-1-4#username
						input(type="email", name="username", placeholder="Email", autofocus="autofocus")
					.pure-u-1-4#password
						input(type="password", name="password", placeholder="Password")
					.pure-g-r
						.pure-u-1-2#submit
							input(type="submit", value="Log In")