extends layout

block content

	if message
		p.pull-center.message #{message}
	if error
		p.pull-center.error #{error}

	#main.pure-g-r
		.pure-u-1-2.pull-center
			h1.sans
				a(href="/") Track Anything
			#infoBox
			p#about Everyone likes a graph.
			h2.sans #{title}
		.pure-u-1-4
			form(action="/login", method="post")
				#username
					input(type="email", name="username", placeholder="Email", autofocus="autofocus")
				#password
					input(type="password", name="password", placeholder="Password")
				#remember
					input(type="checkbox", name="rememberme")
					| Remember Me
				#submit
				input(type="submit", value="Log In")