extends layout

block content

	#main.pure-g-r
		.pure-u-1-4
		.pure-u-1-2.pull-center
			h1.thin
				a(href="/") OnTrack.io
			p#about
			h2.sans #{title}
			form(action="/login", method="post")
				.pure-g-r
					.pure-u-1-4#username
						input(type="email", name="username", placeholder="Email", autofocus="autofocus")
					.pure-u-1-4#password
						input(type="password", name="password", placeholder="Password")
					.pure-g-r
						.pure-u-1-2#submit
							input(type="submit", value="Log In")
			a.btn(href="/register") Or Register