extends layout

block content

  if message
    p.pull-center.message #{message}
  if error
    p.pull-center.error #{error}

  #main.pure-g-r
    .pure-u-1-2.pull-center
      h1.sans
        a(href="/") Get On Track
      #infoBox
      p#about Everyone likes a graph.
      h2.sans #{title}
    .pure-u-1-4
      form(action="/register",method="post")
        #username
          input(type="email", name="email", placeholder="Email", autofocus="autofocus")
        #password
          input(type="password", name="password", placeholder="Password")
          input(type="password", name="password_conf", placeholder="Confirm password")
        #submit
        input(type="submit", value="Register")
    .pure-u-1-4